<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:label="AAB无图标"
        android:icon="@android:drawable/sym_def_app_icon"
        tools:replace="android:label,android:icon" />
</manifest>
